@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #c59474;
}

.header,
.footer {
    background-color: #6d4a31;
}

.sidebar {
    background-color: #817190;
}

.announcements {
    background-color: #8a8e7d;
}

.midjourney {
    background-color: #8a8e7d;
}

.sorry {
    background-color: #8a8e7d;
}

.preview-img {
    width: 400px;
}

.midjourney-img {
    width: 200px;
}